body {
    background: url(https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-320-80.jpg);
    background-repeat: repeat;
}

.div1 {
    background-color: blue;
    border-color: orange;
    border-width: 2px;
    border-style: dotted;
}

p {
    color: yellow;
}

span {
    background: red;
    color: black;
}